html {
  font-size: 10px;
  background: url('http://jakenelson.comxa.com/misc/pianobg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex: auto;
  min-width: 690px;
  align-items: center;
  justify-content: center;
}

.wkey {
  border-color: #111111;
  border-style: solid;
  border-width: 5px 3px 3px 3px;
  border-radius: 8px;
  font-size: 24px;
  padding: 16px 8px;
  transition: all .07s ease;
  width: 56px;
  height: 246px;
  text-align: center;
  color: black;
  background: rgba(230, 230, 250, .95);
  text-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
  z-index: 1;
}

.bkey {
  border: solid #111111;
  border-width: 3px;
  border-radius: 8px;
  margin: 6px;
  font-size: 22px;
  padding: 14px 8px;
  transition: all .07s ease;
  width: 28px;
  height: 200px;
  text-align: center;
  color: white;
  background: #111111;
  text-shadow: 0 0 8px black;
  z-index: 2;
}

#Fs3 {
  position: absolute;
  top: -6px;
  left: 47px;
}

#Gs3 {
  position: absolute;
  top: -6px;
  left: 123px;
}

#As3 {
  position: absolute;
  top: -6px;
  left: 199px;
}

#Cs4 {
  position: absolute;
  top: -6px;
  left: 352px
}

#Ds4 {
  position: absolute;
  top: -6px;
  left: 428px;
}

#Fs4 {
  position: absolute;
  top: -6px;
  left: 581px;
}

#Gs4 {
  position: absolute;
  top: -6px;
  left: 657px;
}

#As4 {
  position: absolute;
  top: -6px;
  left: 733px;
}

.playing {
  transform: scale(1.2);
  transform: translateY(3px);
  border-color: #7e7e7e;
  box-shadow: 0 0 1rem #373737;
}

kbd {
  margin-top: 21.5rem;
  display: block;
  font-size: 18px;
}

bbd {
  margin-top: 16.5rem;
  display: block;
  font-size: 18px;
}

.sound {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FF0000;
}